p {
    font-size: 150px;
    margin: 10vw;
}

#oliviarose {
    width: 80vw;
    margin: 10vw;
    margin-top: 0vh;
}

.parallax {
    /* The image used */
    background-image: url("assets/oliviarose3.png");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10vw;
  }

.button {
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    color: #ffff;
}

.black {
    background-color: black;
}

/* CSS Image Hover. Created refering to Naoya's Pen: https://codepen.io/nxworld/pen/ZYNOBZ */
/*Sepia*/
.column#sepia img {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .column#sepia:hover img {
    -webkit-filter: sepia(0);
    filter: sepia(0);
  }

